#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cards {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(127, 255, 159, 0.692);
    margin: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
    width: 600px;
}

h1 {
    width: 90%;
}

#id {
    display: flex;
    position: absolute;
    right: 7px;
    top: 0;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

h2 {
    color: white;
}

img {
    border-radius: 30px 30px 0 0 ;
}

