#json {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
}

.container {
    background-color: rgba(0, 128, 0, 0.397);
    width: 350px;
    padding: 12px;
    margin: 10px;
    text-align: center;
}

.container p {
    text-align: justify;
}